body{
    font-family: 'Inter', sans-serif;
    background: rgba(94, 207, 241, 0.781);
    color: #2c2c2c;
}

.navbar{
    background: white;
    border-bottom: 1px solid #e6edf3;
}

.brand{
    font-weight: 600;
    color: #2b8cff;
}

.btn-alert{
    background: #2b8cff;
    color: white;
    border-radius: 20px;
    padding: 6px 16px;
}

.hero-container{
    text-align: center;
    padding: 60px 20px 30px;
}

small{
    color: #7a8ca3;
}

.hero-container h1{
    font-weight: 700;
    margin-top: 10px;
}

.hero-container p{
    color: #6c7a89;
    max-width: 650px;
    margin: auto;
}

.search-box{
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    margin-top: 25px;
}
.section-title{
    font-size: 15px;
    color: #6c7a89;
    margin-top: 25px;
    font-weight: 500;
}

.pack-item{
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.tag{
    font-size: 12px;
    background: #eaeaea;
    color: #2b8cff;
    padding: 5px 10px;
    border-radius: 20px;
}

.tip-card{
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    height: 100%;
}

.tip-card h6{
    font-weight: 500;
}

footer{
    background: white;
    margin-top: 50px;
    padding: 50px 0;
    border-top: 2px solid #e6edf3;
}

.footer-title{
    font-weight: 500;
    margin-bottom: 12px;
}

.footer-small{
    color: #7a8ca3;
    font-size: 15px;
}